# Azure
AZURE_RESOURCE_GROUP=rg-mycomplex-poc
AZURE_LOCATION=eastus
AZURE_CONTAINERAPPS_ENV=mycomplex-poc-env
AZURE_CONTAINERAPP_NAME=mycomplex-poc-017

# Imagen previamente publicada en cualquier registry accesible por Azure.
# Ejemplo:
# docker.io/usuario/mycomplex-poc-017:1.0.0
CONTAINER_IMAGE=

SERVER_PORT=8080
