# Tenant Auth0
AUTH0_TENANT_NAME=mycomplex-dev

# IMPORTANTE:
# Verifica el valor exacto en:
# Auth0 Dashboard > Settings > Domain
AUTH0_ISSUER=https://mycomplex-dev.us.auth0.com/

# Debe coincidir con el Identifier de Applications > APIs > MyComplex API
AUTH0_AUDIENCE=https://api.mycomplex.com
