AZURE_RESOURCE_GROUP=rg-mycomplex-poc
AZURE_LOCATION=eastus

# Debe ser globalmente único y solo usar letras/números.
# Ejemplo: mycomplexacr1234
AZURE_ACR_NAME=

ACR_REPOSITORY=mycomplex-backend
IMAGE_TAG=1.0.0
